@import url('https://fonts.googleapis.com/css?family=Roboto');

    body {
      font-family: 'Roboto', sans-serif;
      /* background: rgb(30, 30, 30);
      background-image: url('./assets/bg.png');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover; */
      /* width: 100vw;
      height: 95vh; */
      margin: auto;
      color: white;
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .apiFormItem {
      display: flex;
      flex-direction: row;
      align-content: center;
      width: 90%;
      align-items: center;
      justify-content: center;
    }

    .apiFormItem input {
      height: 20px;
      width: 50%;
      display: flex;
      margin: 5px;
      align-content: center;
      align-items: center;
      justify-content: center;
    }

    .apiForm {
      display: flex;
      width: 90%;
      align-content: center;
      align-items: center;
      align-self: center;
      justify-content: center;
      flex-direction: column;
    }

    a {
      color: white;
      font-size: 1.5em;
    }

    button {
      border: none;
      background: rgba(0, 0, 0, 0.363);
      border-radius: 5px;
      padding: 20px;
      margin: 5px;
      /* width: 25%; */
      color: rgb(255, 255, 255);
      transition-duration: 250ms;
    }

    button:hover {
      /* background: rgb(51, 255, 0); */
      /* color: black; */
      transform: scale(1.03);
      background: rgba(211, 211, 211, 0.363);
    }

    button:active {
      transition-duration: 50ms;
      transform: scale(0.97)
    }

    button:focus {
      outline: none;
    }

    #addSongButton {
      background: url(../buttons/search.png);
      height: 60px;
      width: 60px;
      background-size: contain;
    }

    #addSongButton:hover {
      background: url(../buttons/searchhover.png);
      height: 60px;
      width: 60px;
      background-size: contain;
    }

    #clearQueue {
      color: rgb(204, 46, 46);
    }

    #clearQueue:hover {
      background: rgba(255, 2, 2, 0.541);
      color: #ffffff;
    }

    #removeLast {
      color: rgb(204, 46, 46);
    }

    #removeLast:hover {
      background: rgba(255, 2, 2, 0.541);
      color: #ffffff;
    }
    
    /* #checkUpdate{
      float: right;
      margin-right: 0px;
      margin-left: 100px;
      height: 10px;
      width: 150px;
      text-align: center;
      text-size-adjust: 5px;
      text-align: justify;
    }

    #h1Text {
      margin-left: 250px;
      margin-right: 0px;
    } */


    #listView {
      overflow-y: auto;
      overflow-x: hidden;
      height: 70%;
      width: 90%;
      max-height: 300px;
    }

@-webkit-keyframes RGBbackground {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes RGBbackground {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes RGBbackground {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}



#bg {
    position: fixed;
    background: cover;
    background: linear-gradient(145deg,#aa1313,#aa1370,#1181b6,#20aa13,#aa5713);
    background-size: 400% 400%;
    width: 100vw;
    height: 120vh;
    margin: 0px;
    top: 0px;
    padding: 0;
    z-index: -2;
    -webkit-animation: RGBbackground 100s ease infinite;
    -moz-animation: RGBbackground 100s ease infinite;
    animation: RGBbackground 100s ease infinite;
    -webkit-animation-delay: -8s;
    -moz-animation-delay: -8s;
    animation-delay: -8s
}

#saveChanges {
  margin-top: 0px;
}

.songEditInfo {
  margin-top: 5px;
  margin-bottom: 0px;
  padding: 0px;
}

.songEditText {
  margin-top: 5px;
  margin-bottom: 5px;
}